<a href="https://colab.research.google.com/github/MSubham1997/bsnew/blob/main/series_method_handling_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.read_csv('https://andybek.com/pandas-drinks')

         country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0    Afghanistan            NaN  ...            NaN                           NaN
1        Albania           89.0  ...           54.0                           4.9
2        Algeria           25.0  ...           14.0                           0.7
3        Andorra          245.0  ...          312.0                          12.4
4         Angola          217.0  ...           45.0                           5.9
..           ...            ...  ...            ...                           ...
188    Venezuela          333.0  ...            3.0                           7.7
189      Vietnam          111.0  ...            1.0                           2.0
190        Yemen            6.0  ...            NaN                           0.1
191       Zambia           32.0  ...            4.0                           2.5
192     Zimbabwe           64.0  ...            4.0                           4.7

[193 rows x 5 columns]

In [3]:



























pd.read_csv('https://andybek.com/pandas-drinks',usecols=['country','wine_servings'])

         country  wine_servings
0    Afghanistan            NaN
1        Albania           54.0
2        Algeria           14.0
3        Andorra          312.0
4         Angola           45.0
..           ...            ...
188    Venezuela            3.0
189      Vietnam            1.0
190        Yemen            NaN
191       Zambia            4.0
192     Zimbabwe            4.0

[193 rows x 2 columns]

In [4]:











































pd.read_csv('https://andybek.com/pandas-drinks',usecols=['country','wine_servings'],index_col='country')

             wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]

In [5]:
 whiskey=pd.read_csv('https://andybek.com/pandas-drinks',usecols=['country','wine_servings'],index_col='country')

In [6]:
whiskey.head

<bound method NDFrame.head of              wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]>

In [7]:
whiskey.tail()

           wine_servings
country
Venezuela            3.0
Vietnam              1.0
Yemen                NaN
Zambia               4.0
Zimbabwe             4.0

In [8]:
whiskey.head()

             wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0

In [9]:
type(whiskey)

pandas.core.frame.DataFrame

In [10]:
whiskey.size

193

In [14]:
whiskey.size

193

In [16]:
whiskey.shape

(193, 1)

In [17]:
whiskey.values

array([[ nan],
       [ 54.],
       [ 14.],
       [312.],
       [ 45.],
       [ 45.],
       [221.],
       [ 11.],
       [212.],
       [191.],
       [  5.],
       [ 51.],
       [  7.],
       [ nan],
       [ 36.],
       [ 42.],
       [212.],
       [  8.],
       [ 13.],
       [ nan],
       [  8.],
       [  8.],
       [ 35.],
       [ 16.],
       [  1.],
       [ 94.],
       [  7.],
       [ nan],
       [  7.],
       [ 16.],
       [  1.],
       [  4.],
       [  1.],
       [  1.],
       [  1.],
       [172.],
       [  8.],
       [  3.],
       [  1.],
       [  9.],
       [ 74.],
       [ 11.],
       [254.],
       [  5.],
       [113.],
       [134.],
       [ nan],
       [  1.],
       [278.],
       [  3.],
       [ 26.],
       [  9.],
       [  3.],
       [  1.],
       [  2.],
       [233.],
       [ nan],
       [ 59.],
       [ nan],
       [  1.],
       [ 97.],
       [ 37.],
       [ 59.],
       [  1.],
       [149.],
       [175.],
       [  1.],
       [218.],
       [ 28.],
       [  2.],
       [  2.],
       [ 21.],
       [  1.],
       [  1.],
       [  2.],
       [185.],
       [ 78.],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [165.],
       [  9.],
       [237.],
       [  9.],
       [ 16.],
       [  1.],
       [ 12.],
       [  2.],
       [  1.],
       [ nan],
       [  6.],
       [123.],
       [ 62.],
       [ 31.],
       [ nan],
       [  2.],
       [ nan],
       [ 56.],
       [271.],
       [  4.],
       [  1.],
       [ nan],
       [ nan],
       [  1.],
       [ 12.],
       [ nan],
       [ nan],
       [ 18.],
       [  5.],
       [ 18.],
       [ nan],
       [  8.],
       [128.],
       [  1.],
       [  5.],
       [ nan],
       [  1.],
       [  8.],
       [ nan],
       [ 19.],
       [175.],
       [  1.],
       [  1.],
       [  2.],
       [  7.],
       [129.],
       [  1.],
       [ nan],
       [ 23.],
       [ 18.],
       [  1.],
       [ 74.],
       [ 21.],
       [  1.],
       [ 56.],
       [339.],
       [  7.],
       [  9.],
       [ 18.],
       [167.],
       [ 73.],
       [ nan],
       [ 32.],
       [ 71.],
       [ 11.],
       [ 24.],
       [ nan],
       [ 14.],
       [ nan],
       [  7.],
       [127.],
       [ 51.],
       [  2.],
       [ 11.],
       [116.],
       [276.],
       [  1.],
       [ nan],
       [ 81.],
       [112.],
       [ nan],
       [ nan],
       [  7.],
       [  2.],
       [186.],
       [ 28.],
       [ 16.],
       [ nan],
       [  1.],
       [ 86.],
       [  4.],
       [ 19.],
       [  5.],
       [  7.],
       [  2.],
       [  7.],
       [ 32.],
       [  9.],
       [ nan],
       [ 45.],
       [  5.],
       [195.],
       [  1.],
       [ 84.],
       [ 22.],
       [  8.],
       [ 11.],
       [  3.],
       [  1.],
       [ nan],
       [  4.],
       [  4.]])

In [18]:
whiskey.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [19]:
whiskey.values.size

193

In [20]:
whiskey.values.size==whiskey.index.size

True

In [22]:
whiskey.size==whiskey.shape[0]

True

In [23]:
len(whiskey)

193

In [24]:
whiskey.is_unique

AttributeError: ignored

In [25]:
whiskey.is_unique

AttributeError: ignored

In [26]:
whiskey.head

<bound method NDFrame.head of              wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]>

In [27]:
whiskey.head().is_unique

AttributeError: ignored

In [28]:
whiskey.nunique

<bound method DataFrame.nunique of              wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]>

In [29]:
whiskey.nunique()

wine_servings    71
dtype: int64

In [30]:
whiskey.nunique(dropna=False)

wine_servings    72
dtype: int64

In [31]:
pd.Series([1,2,3]).is_monotonic

True

In [32]:
pd.Series([1,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3]).is_monotonic

True

In [33]:
pd.Series([1,2,3,4,56,67,89]).is_monotonic

True

In [34]:
pd.Series([1,2,3,67,78,54,45,23]).is_monotonic

False

In [35]:
pd.Series([1,2,3,4,56,67,89]).is_monotonic_increasing

True

In [36]:
pd.Series([1,2,3,4,56,67,89]).is_monotonic_increasing

True

In [37]:
pd.Series(reversed([1,2,3,4,56,67,89])).is_monotonic_increasing

False

In [38]:
pd.Series([1,2,3,4,56,67,89]).is_monotonic_increasing

True

In [39]:
pd.Series([1,2,3,4,56,67,89]).is_monotonic_decreasing

False

In [40]:
whiskey.count()

wine_servings    162
dtype: int64

In [42]:
whiskey.count(0)

wine_servings    162
dtype: int64

In [48]:
whiskey.hasNas

AttributeError: ignored

In [49]:
whiskey.size

193

In [50]:
whiskey.count()

wine_servings    162
dtype: int64

In [51]:
whiskey.isnull

<bound method DataFrame.isnull of              wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]>

In [52]:
whiskey.isnull()

             wine_servings
country
Afghanistan           True
Albania              False
Algeria              False
Andorra              False
Angola               False
...                    ...
Venezuela            False
Vietnam              False
Yemen                 True
Zambia               False
Zimbabwe             False

[193 rows x 1 columns]

In [54]:
whiskey[whiskey.isnull()].index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [55]:
type(whiskey[whiskey.isnull()].index)

pandas.core.indexes.base.Index

In [56]:
 list(whiskey[whiskey.isnull()].index)

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua & Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia-Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 "Cote d'Ivoire",
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'North Korea',
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'South Korea',
 'Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'St. Kitts & Nevis',
 'St. Lucia',
 'St. Vincent & the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Thailand',
 'Macedonia',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad & Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Tanzania',
 'USA',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [57]:
len( list(whiskey[whiskey.isnull()].index))

193

In [58]:
whiskey.isnull().sum()

wine_servings    31
dtype: int64

In [59]:
all=whiskey.size

In [60]:
non_null=whiskey.count()

In [61]:
Sum=whiskey.isnull().sum()

In [62]:
all==non_null+Sum

wine_servings    True
dtype: bool

In [63]:
whiskey.isna().sum()

wine_servings    31
dtype: int64

In [64]:
np.isnan

NameError: ignored

In [66]:
ssr=pd.Series(data=[True,False,None,2],dtype=float)

In [67]:
np.isnan(ssr)

NameError: ignored

In [68]:
ssr

0    1.0
1    0.0
2    NaN
3    2.0
dtype: float64

In [69]:
whiskey.notnull()

             wine_servings
country
Afghanistan          False
Albania               True
Algeria               True
Andorra               True
Angola                True
...                    ...
Venezuela             True
Vietnam               True
Yemen                False
Zambia                True
Zimbabwe              True

[193 rows x 1 columns]

In [70]:
whiskey.notna

<bound method DataFrame.notna of              wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]>

In [72]:
whiskey.loc[whiskey.notnull()]

ValueError: ignored

In [73]:
whiskey.notnull().sum()

wine_servings    162
dtype: int64

In [74]:
whiskey.count()

wine_servings    162
dtype: int64

In [75]:
whiskey.notnull().sum()+whiskey.isnull().sum()==whiskey.size

wine_servings    True
dtype: bool

In [76]:
True+25

26

In [77]:
5/True

5.0

In [78]:
type(True)

bool

In [79]:
wine_servings=whiskey.notnull()

In [80]:
wine_servings

             wine_servings
country
Afghanistan          False
Albania               True
Algeria               True
Andorra               True
Angola                True
...                    ...
Venezuela             True
Vietnam               True
Yemen                False
Zambia                True
Zimbabwe              True

[193 rows x 1 columns]

In [82]:
wine_servings.size

193

In [85]:
whiskey.loc[[True if wine_serivings<100 else False for i in range(193)]]

NameError: ignored